
.fullcontainer{
    width: 90%;
}
.btn{
    margin-right: 2em;
   
}
.text-center h2{
    font-weight: bold;
    font-size: 2em;
}
.cv{
    margin-right: 2em;
}
.mb-3{
    width: 70%;
    margin-left: 15em ;
}
.buttonall{
    margin-left: 19em;
}