
.contactfullpage{
    background-color:#ffa90a;
}
.contactPage{
    display: flex;
    width: 1200px;

    
}

.container{
    width: 85%;
}
.contactPage{
    width: 800px;

}

.icon{
    font-size: 1.2em;
}
.leftcontact{
    width: 100%;
    margin-left: 13em;

}
.address p{
    font-size: 1.2em;
    width: 15em;

    color: white;
}
.address h3{
    font-size: 2em;
}

.phone p{
    font-size: 1.2em;
    color: white;

}
.phone h3{
    font-size: 2em;
    
}

.email p{
    font-size: 1.3em;
    color: white;

}
.email h3{
    font-size: 2em;
    color: black;

}

.containerform{
    width: 100%;
    margin-left: 12em;
  
}
.mb-3{
    width: 30em;
    margin-left: 30em;
    font-weight: bold;
}
.text-center{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-center h1{
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;

}
.form-control{
    font-size: 1em;
}
.text-center p{
        /* color: #f7f6f6; */
        font-size: 1.1em;
        /* color: #fff; */
        color: #000000;
        margin-bottom: 5em;
        font-family: sarif;
        margin-top: 1em;
        letter-spacing: 0px;
}
.icon{
    color: white;
}
.btn{
    color: #f7f6f6;
    background-color: black;
    margin-left: 7em;
}
.map {
     /* margin: 0px auto; */
     display: flex;
     margin-left: 7em;
     margin-bottom: 2em;
}
.map img{
    margin-bottom: 3em;
    border-radius: 34px;
    box-shadow: 0 0 0 1px #E2E9ED;
    position: relative;
    z-index: 0;
    transition: 0.4s all;
}

.map img:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba( 0,0,0,0.2);
    transform: scale(1.05);
}
