
.contactfullpage{
    background-color:#ffa90a;
}
.contactPage{
    display: flex;
    width: 1200px;

    
}

.container{
    width: 85%;
}
.contactPage{
    width: 800px;

}
.icon{
    font-size: 1.2em;
}
.leftcontact{
    width: 100%;
    margin-left: 13em;

}
.address p{
    font-size: 1.2em;
    width: 15em;

    color: white;
}
.address h3{
    font-size: 2em;
}

.phone p{
    font-size: 1.2em;
    color: white;

}
.phone h3{
    font-size: 2em;
    
}

.email p{
    font-size: 1.3em;
    color: white;

}
.email h3{
    font-size: 2em;
    color: black;

}

.containerform{
    width:100%;
    /* margin-left: 5em; */
  
}
.mb-3{
    width: 30em;
    margin-left: 30em;
    font-weight: bold;
}

.text-center h1{
    font-weight: bolder;
    /* background-color: #0d0d0d; */
    padding: 6px;
    margin-bottom: 1.3em;
    width: 75%;
    margin-left: 3.3em;
    border-radius: 40px;
    color: black;

}
.form-control{
    font-size: 1em;
}
.text-center p{
    color: #f7f6f6;
    font-size: 1.1em;
    margin-bottom: 5em;
}
.icon{
    color: white;
}
.btn{
    color: #f7f6f6;
    background-color: black;
    margin-left: 7em;
}