:root {
    --mainColor: rgb(239, 239, 239);
}

header {
    background-color: var(--mainColor);
   
}

header{
    background-color: white;

}
.container {
    margin: 0px auto;
    width: 100%;
 
}

.container-flex {
    max-width:1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   


}

.logo {
    width: 70px;
    margin-right: 10em;
    padding: 0.5rem 0;
    border-radius: 50%;
}

.logo img {
    width:6.2em;
    border-radius: 17%;
    text-align: left;
}







.icons {
    color: #0e0d0d;
    font-size: 1.4rem;
}

.icons p{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3em;
}

.icons span {
    color: rgb(246, 61, 15);
    font-size: 1.5rem;
    font-weight: bold;}
    .list{
        /* color: #fff; */
    }
    .listItem{
        text-decoration: none;
        font-size: 1.1rem;
        margin-left: 1.2rem;
        /* color: #ff9e02; */
        font-family: sans-serif;
        font-weight: bold;
        color: black;
    }
    
    
    /* .listItem::after{
        content: '';
        height: 3px;
        width: 0;
        background-color: black;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .listItem:hover::after{
        width: 100%;
    } */
    
    .activeItem {
        color: #fff;
        background-color: #f83c0d;
        padding: 4px;
        border-radius: 8px;
    }
    
    .listItem:hover{
        color:#f83c0d;
       text-decoration: underline 2px solid #f83c0d;
       
    }
.email{
    font-size: 0.7em;
    color: rgb(116, 114, 114);
    font-weight: bold;
}

/* .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  } */


@media screen and (max-width:1250px) {


    .icons {
        color: #0077B6;
        font-size: 1.3rem;
        margin-left: 30px;
    }

    .icons span {
        color: orangered;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1103px) {

    .icons {
        color: #0077B6;
        font-size: 1.5rem;
        margin-left: 2.8em;
        align-items: center;

    }

    .icons span {
        color: orangered;
        font-size: 1.4rem;
    }

    .listItem {
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 2.1rem;
        color: #0077B6;
        font-weight: bold;
    }

    .list {
        margin-left: 2.8em;
    }
}

@media screen and (max-width:1080px) {

    .logo {
        width: 150px;
        padding: 0.5rem 0;
    }
}

@media screen and (max-width:1040px) {

    .logo {
        width: 140px;
        padding: 0.5rem 0;
    }
}

@media screen and (max-width:1030px) {

    .logo img {
        width: 110%;
        border-radius: 100px;
        box-shadow: 2px 2px 5px #6f5737;

    }
}

@media screen and (max-width:1015px) {

    .logo img {
        width: 120%;
        border-radius: 100px;
        box-shadow: 2px 2px 5px #6f5737;

    }
}

@media screen and (max-width:993px) {

    .logo img {
        width: 120%;
        border-radius: 100px;
        box-shadow: 2px 2px 5px #6f5737;

    }

    .icons {
        color: #0077B6;
        font-size: 1.3rem;
        margin-left: 2.8em;
        align-items: center;

    }

    .icons span {
        color: orangered;
        font-size: 1.3rem;
    }

    .listItem {
        text-decoration: none;
        font-size: 1.3rem;
        margin-left: 2.1rem;
        color: #0077B6;
        font-weight: bold;
    }

    .list {
        margin-left: 2em;
    }

}

@media screen and (max-width:895px) {

    .logo img {
        width: 115%;
        border-radius: 100px;
        box-shadow: 2px 2px 5px #6f5737;

    }

    .icons {
        color: #0077B6;
        font-size: 1.3rem;
        margin-left: 2.8em;
        align-items: center;

    }

    .icons span {
        color: orangered;
        font-size: 1.2rem;
    }

    .listItem {
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 1.5rem;
        color: #0077B6;
        font-weight: bold;
    }

    .list {
        margin-left: 2.5em;
    }

}

@media screen and (max-width:815px) {

    .logo img {
        width: 130%;
        border-radius: 100px;
        box-shadow: 2px 2px 5px #6f5737;

    }
    .icons {
        color: #0077B6;
        font-size: 1.1rem;
        margin-left: 2.8em;
        align-items: center;

    }

    .icons span {
        color: orangered;
        font-size: 1.1rem;
    }

    .listItem {
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 1.4rem;
        color: #0077B6;
        font-weight: bold;
    }

    .list {
        margin-left: 2.5em;
    }

}

@media screen and (max-width:780px) {

    .container-flex {

        flex-direction: column;
    
    }
    .logo img {
        width: 100%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 1em;

    }
    .listItem {
        text-decoration: none;
        font-size: 2rem;
        
        color: #0077B6;
        font-weight: bold;
    }
    .list {
        margin-left: 0em;
        margin-bottom: 1em;
    }
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.7rem;
        margin-left: 2.8em;
        align-items: center;
        text-align: center;

    }

    .icons span {
        color: orangered;
        font-size: 1.8rem;
    }

}
@media screen and (max-width:710px) {

    .container-flex {

        flex-direction: column;
    
    }
    .logo img {
        width: 90%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 1em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.8rem;
        
        color: #0077B6;
        font-weight: bold;
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.7rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1.8rem;
        font-weight: bold;
    }

}

@media screen and (max-width:635px) {

    
    .logo img {
        width: 80%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 0.9em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.5rem;
       
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1.6rem;
        font-weight: bold;
    }

}
@media screen and (max-width:560px) {

    
    .logo img {
        width: 70%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 0.9em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.4rem;
       
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.4rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .list {
        margin-bottom: 1em;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width:525px) {

    
    .logo img {
        width: 78%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 0.9em;
        margin-left:1.4em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.5rem;
       
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.4rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .list {
        flex-direction: column;
    }
}
@media screen and (max-width:405px) {

    
    .logo img {
        width: 72%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 0.9em;
        margin-left:1.4em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.2rem;
       
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.2rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1rem;
        font-weight: bold;
    }
    .list {
        flex-direction: column;
    }
}
@media screen and (max-width:323px) {

    
    .logo img {
        width: 63%;
        border-radius: 100px;
        box-shadow: 2px 2px 8px 5px #6f5737;
        margin-bottom: 0.9em;
        margin-left:1.7em;

    }
    .listItem {
        text-decoration: none;
        font-size: 1.1rem;
        margin-right: 1.2em;
       
    }
   
    .activeItem {
        text-decoration: underline;
        color: #8ed6fd;

    }
    .icons {
        color: #0077B6;
        font-size: 1.1rem;
        text-align: center;
        margin-left: 1em;

    }

    .icons span {
        color: orangered;
        font-size: 1rem;
        font-weight: bold;
    }
    .list {
        flex-direction: column;
    }
}