.policyFullPage{
  background-color:white;
}
.policyFullPage p{
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    width: 80%;
    margin-left: 10rem;
}