.policyFullPage{
  background-color:#ffa90a;
}
.policyFullPage p{
    font-size: 1.4em;
    line-height: 1.8em;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(40, 40, 40);
    width: 60%;
    margin-left: 19rem;
}