.text-center{
    margin: 3em;
    color: #ffa90a;
  font-weight: 900;
}
.serviceContainer{
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: rgb(250, 252, 255); */
    background-color: black;
    padding: 15px;

    
}

.row{
    width:25%;
    display: flex;
    /* margin: 10px; */
   justify-content: center;

}
.cardShow{
    width:100%;
    color: white;
   /* background-color:white; */
   border: 1px solid rgb(226, 226, 226);
   /* box-shadow: 1px 2px 30px rgb(201, 192, 192) ; */
   
   
}
.cardImage{
    margin-bottom: 2rem;
    width: 50px;
}
.card-title{
    margin-bottom: 8px;
    font-size: 2em;
    margin-left: 10px;
}
.btn{
    color: #f7f6f6;
    background-color: black;
    margin-left: 8em;
}
h5{
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #ffa902;
    letter-spacing: 1px;
}
.cardImage{
    width: 100%;
}
.para{
    margin-left: 10px;
    font-size: 17px;
    text-align: left;
    padding: 5px;

}